#hello_text_id{
    all: unset;
    position: fixed;
    padding: 1% !important;
    z-index: 10000000;
    top: 10px;
    right: 10px;
    width: 50vh;
    float: right;
    background-color: lightgray;
}

.text_of_extension{
    all:unset;
    display: block;
    padding-bottom: 1vh !important;
    font-family: 'Verdana', 'Tahoma', 'Geneva', sans-serif;
}

.close_button{
    all: unset;
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: x-large;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;

}

.close_button:hover{
    background-color: rgb(128, 128, 128, 0.1);
}
