/* body {
    background-color: rgb(149, 230, 171);
    background-image: url("logo.png"), url("logo.png");
    background-repeat: repeat-y, repeat-y;
    background-position: top left, top right;
    margin: auto;
    background-attachment: fixed;
    background-size: 100px 118px;
} */
button {
    height: 30px;
    width: 30px;
    outline: none;
}